header{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
}
header h1{
	font-size: 32px;
	margin-bottom: 10px
}

header a{
	color: white;
	text-decoration: none;
	margin: 0 15px;
	font-size: 16px;
	font-weight: 500;
}

body{
	background-image:"https://i.pinimg.com/736x/e1/14/45/e11445cad4b98123d1f53bec668c922a.jpg";
	background-repeat: no-repeat;
	background-size: cover;
  background-attachment: fixed;
  background-color: dimgray ;
}
.Hi h1{
	color: white;
	font-size: 25px;
	text-align: center;
	margin-left: 26px;
}

.Hi h2{
	color: white;
	font-size: 25px;
	text-align: center;
	margin-left: 38px;
}

.Hi p{
	color: white ;
	font-size: 17px;
	text-align: center;
	
}
.About h1{
	color: white;
	font-size: 25px;
	text-align: center;
	
}
.About p{
	color: white;
	font-size: 17px;
	text-align: center;
	

}
.container{
	margin:150px auto;
	width:85%;
}

.projects h1{
   color:white;
   font-size: 25px;
   text-align:center;
}	


.Hi img{
	display: block;
	margin-left:320px;
	margin-right:325px;
	width: 50%;
	border-radius:1%; 
	width: 300px;
	height: auto;
	width: 200px; 
  height: 200px;
  border-radius: 50%;
}

.card-container{
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
	
}

.card{
    width: 325px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(white);
    margin: 20px;
}

.card-content{
    margin-left: 5%;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content h3{
    color: black;
    font-size: 28px
    font-family: Arial, san-serif;
}

.card-content p{
    font-size: 15px;
    margin-bottom: 8px;
    color: black;
}

